.gm-instagram-feed {
  @apply w-full;
}

h2.gm-instagram-feed-title {
  @apply flex items-center mx-2 mb-2 ml-3 text-3xl md:mb-6 md:text-4xl text-accent;
}

h2.gm-instagram-feed-title span {
  @apply flex-1;
}

/* .gm-instagram-feed-title::before {
  @apply block w-10 h-10 md:w-16 md:h-16 my-5 mr-4 md:mr-6 md:ml-[6%] bg-center bg-no-repeat bg-cover bg-instagram-accent;
  content: '';
} */

.gm-instagram-feed-list {
  @apply flex flex-wrap items-stretch max-w-full md:flex-nowrap;
}

.gm-instagram-feed div.gm-instagram-feed-element {
  @apply relative flex items-start justify-center w-1/3 h-auto overflow-hidden md:flex-1 md:w-auto;
}

.gm-instagram-feed div.gm-instagram-feed-element.gm-instagram-video a {
  @apply absolute z-30 flex items-center justify-center w-10 h-10 text-white rounded-full bg-accent top-2 right-2;
}

.gm-instagram-feed div.gm-instagram-feed-element.gm-instagram-image a span {
  @apply hidden;
}

.gm-instagram-feed div.gm-instagram-feed-element.gm-instagram-image a::after {
  @apply absolute top-0 bottom-0 left-0 right-0 z-30 opacity-0;
  content: '';
}

.gm-instagram-feed div.gm-instagram-feed-element a svg {
  @apply w-5 fill-current relative top-[2px];
}

.gm-instagram-feed div.gm-instagram-feed-element picture, .gm-instagram-feed div.gm-instagram-feed-element img {
  @apply w-full h-full min-w-full min-h-full m-0;
}

.gm-instagram-feed div.gm-instagram-video .gm-instagram-video-content {
  @apply relative w-full h-full min-w-full min-h-full;
}

.gm-instagram-feed div.gm-instagram-video .gm-instagram-video-content video {
  @apply h-full min-w-full min-h-full m-0;
}

.gm-instagram-feed div.gm-instagram-feed-element button {
  @apply absolute top-0 bottom-0 left-0 right-0 z-20 flex items-start justify-start w-full fill-current text-accent;
}

.gm-instagram-feed div.gm-instagram-feed-element button svg {
  @apply w-10 h-10 mt-2 ml-2;
}

.gm-instagram-feed
  div.gm-instagram-feed-element
  button.gm-instagram-video-paused
  .gm-pause-icon {
  @apply hidden;
}
.gm-instagram-feed
  div.gm-instagram-feed-element
  button.gm-instagram-video-paused
  .gm-play-icon {
  @apply block;
}

.gm-instagram-feed
  div.gm-instagram-feed-element
  button.gm-instagram-video-played
  .gm-play-icon {
  @apply hidden;
}

.gm-instagram-feed
  div.gm-instagram-feed-element
  button.gm-instagram-video-played
  .gm-pause-icon {
  @apply block;
}

.gm-instagram-feed
  div.gm-instagram-feed-element
  .gm-instagram-feed-element-info {
  @apply absolute bottom-0 left-0 right-0 flex text-xs text-white bg-accent opacity-80 min-h-[50px] items-stretch justify-center;
}

.gm-instagram-feed
  div.gm-instagram-feed-element
  .gm-instagram-feed-element-info
  p {
  @apply flex items-start justify-center;
}

.gm-instagram-feed div.gm-instagram-feed-element::after {
  @apply absolute top-0 bottom-0 left-0 right-0 transition bg-gray-800 opacity-20;
  content: '';
}

.gm-instagram-feed div.gm-instagram-feed-element:hover::after {
  @apply opacity-10;
}

.gm-instagram-feed .flickity-button {
  @apply hidden md:block;
}

.gm-instagram-link {
  @apply flex items-center justify-center mb-4;
}

.gm-instagram-link a {
  @apply z-10 flex items-center px-4 py-1 -mt-5 no-underline bg-white border-2 rounded text-accent border-accent;
}

.gm-instagram-link a:hover {
  @apply bg-gray-200;
}

.gm-instagram-link a::before {
  @apply block w-5 h-5 my-0 mr-2 bg-center bg-no-repeat bg-cover bg-instagram-accent;
  content: '';
}
