.gm-products {
  @apply my-20;
}

h2.gm-products-title {
  @apply max-w-6xl px-3 text-3xl md:text-5xl md:mx-auto;
}

.gm-products-list {
  @apply grid grid-cols-1 mx-1 gap-x-1 gap-y-1 md:gap-y-12 md:grid-cols-3 sm:grid-cols-2;
}

.gm-products-list-element {
  @apply relative flex flex-col items-start justify-start flex-1 overflow-hidden min-w-full w-full max-w-full sm:max-h-[460px] max-h-[470px] md:max-h-[430px];
}

.gm-products-alone {
  @apply grid-cols-1 lg:grid-cols-1 md:grid-cols-1;
}

.gm-products-two {
    @apply grid-cols-1 md:grid-cols-2 sm:grid-cols-2;
}

.gm-products-list-element picture {
  @apply object-cover min-w-full min-h-full p-0 m-0;
}

.gm-products-list-element img {
  @apply object-cover max-w-full min-w-full m-0;
}

.gm-products-list-element a .gm-products-list-element-title {
  @apply absolute z-10 p-0 m-0 text-4xl text-white transition md:text-4xl lg:text-5xl md:opacity-0 font-sherif;
}

.gm-products-list-element a {
  @apply absolute top-0 bottom-0 left-0 right-0 z-10 flex items-start justify-center px-4 text-center pt-14 md:pt-8 lg:pt-20;
}

.gm-products-list-element a::after {
  @apply absolute top-0 bottom-0 left-0 right-0 transition bg-gray-800 opacity-30;
  content: '';
}

.gm-products-list-element a:hover::after {
  @apply opacity-20;
}

.gm-products-list-element a:hover .gm-products-list-element-title {
  @apply opacity-100;
}

.gm-products-list-element p {
  @apply absolute bottom-0 right-0 left-0 bg-[rgba(0,0,0,0.5)] text-white leading-6 text-base md:text-xs lg:text-base lg:leading-6 md:leading-4 italic text-center m-0 px-2 md:p-6 opacity-100 md:opacity-0 transition h-[44%] md:h-[52%] lg:h-[48%] xl:h-[43%] flex items-center z-10;
}

@media screen and (min-width: 640px) and (max-width: 1100px) {
  .gm-products-list-element a {
    padding-top: 2rem;
  }

  .gm-products-list-element p {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 850px) {
  .gm-products-list-element a .gm-products-list-element-title {
    font-size: 3rem;
  }

  .gm-products-list-element a {
    padding-top: 1rem;
  }

  .gm-products-list-element p {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 0 0.3rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 850px) {
  .gm-products-list-element a .gm-products-list-element-title {
    font-size: 2rem;
  }
}

.gm-products-list-element:hover p {
  @apply opacity-100;
}
